a.card{
    background-color: var(--bgColor2);
    max-width: 160px;
    width: 100%;
    padding: 7px;

    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 10px;

    border-radius: 7px;

    text-decoration: none;
    transition: 200ms all;
}
    a.card:hover{
        max-width: fit-content;
        width: 160px;
        scale: 1.05;
        background: 
            linear-gradient(
                45deg,
                transparent 0%,
                rgba(255, 255, 255, 0.1) 60%,
                transparent 100%
            ),
            var(--bgColor2);

        animation: shine-background 3s infinite;
    }
        a.card:hover div.clientInfo{
            gap: 4px;
        }
        a.card:hover .clientName{
            text-decoration: underline;
            overflow: visible;
            width: 100%;
        }

img.clientImg{
    width: 100%;
    height: auto;

    border-radius: 100%;
}

div.clientInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

    color: var(--txtColor);
}

    .clientName{
        font-size: .85em;
        font-weight: 500;
    
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
    }

    p.clientSubs{
        font-size: .8em;
        font-weight: 300;
    }
    
    
@keyframes shine-background {
    from{
        background-size: 500% 100%;
        background-position: left;
    }
    to{
        background-size: 500% 100%;
        background-position: right;
    }   
}