a.card{
    background-color: var(--bgColor2);
    padding: 7px;
    max-height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    flex-grow: 1;

    border-radius: 7px;

    text-decoration: none;
    transition: 200ms all;
}
    a.card.disabled{
        filter: grayscale(.5);
        opacity: .6;

        cursor: default;
    }
    a.card:hover{
        background: 
        linear-gradient(
            45deg,
            transparent 0%,
            rgba(255, 255, 255, 0.1) 60%,
            transparent 100%
            ),
            var(--bgColor2);
            
        scale: 1.05;

        animation: shine-background 3s infinite;
    }
        a.card.disabled:hover{
            background-image: none;
            filter: grayscale(0);
            opacity: .8;

            animation: none;
        }
        a.card:hover div.clientInfo{
            gap: 4px;
        }
        a.card:hover .clientName{
            max-width: 200px;
            
            transition: all 400ms ease-out;
        }
            a.card:not(.disabled):hover .clientName:after{
                content: '\F470';
                padding-left: 2px;
                
                display: inline-block;
                
                font-family: 'bootstrap-icons';
                vertical-align: middle;
                text-decoration: none;
            }
            a.card:not(.disabled):hover .clientName{
                text-decoration: underline;
            }

img.clientImg{
    width: 35px;
    height: 35px;

    border-radius: 100%;
}

div.clientInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

    color: var(--txtColor);
}

    .clientName{
        width: fit-content;
        max-width: 100px;
        min-width: 70px;
        
        font-size: .85em;
        font-weight: 500;
    
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        transition: all 200ms ease-out;
    }

    p.clientSubs{
        font-size: .8em;
        font-weight: 300;
    }
    
    
@keyframes shine-background {
    from{
        background-size: 500% 100%;
        background-position: left;
    }
    to{
        background-size: 500% 100%;
        background-position: right;
    }   
}

@media (max-width: 950px){
    a.card{
        gap: 5px;

        border-radius: 7px;
        
        transition: 120ms all;
    }
        a.card:hover{
            scale: 1.04;
        }
            a.card:hover div.clientInfo{
                gap: 4px;
            }
            a.card:hover .clientName{
                max-width: 150px;
            }

    img.clientImg{
        border-radius: 100%;
    }

    div.clientInfo{
        gap: 3px;
    }

        .clientName{
            width: fit-content;
            max-width: 90px;
            min-width: 65px;
            
            font-size: .85em;
            font-weight: 500;
        }

        p.clientSubs{
            font-size: .75em;
            font-weight: 300;
        }
}

@media (max-width: 750px){
    a.card{
        padding: 5px;

        gap: 5px;
    }
        a.card:hover{
            scale: 1.03;
        }
            a.card:hover .clientName{
                max-width: 120px;
            }

    img.clientImg{
        width: 30px;
        height: 30px;
    }

    div.clientInfo{
        gap: 2px;
    }

        .clientName{
            max-width: 90px;
            min-width: 60px;
            
            font-size: .8em;
            font-weight: 500;
        }

        p.clientSubs{
            font-size: .7em;
            font-weight: 300;
        }
}

@media (max-width: 500px){
    a.card{
        padding: 5px;

        gap: 5px;
    }
        a.card:hover{
            scale: 1.03;
        }
            a.card:hover .clientName{
                max-width: 120px;
            }

    img.clientImg{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 450px){
    a.card{
        padding: 5px;

        gap: 5px;
    }
        a.card:hover{
            scale: 1.03;
        }
            a.card:hover .clientName{
                max-width: 120px;
            }

    img.clientImg{
        width: 20px;
        height: 20px;
    }

    div.clientInfo{
        gap: 1px;
    }

        .clientName{
            max-width: 90px;
            min-width: 60px;
            
            font-size: .7em;
            font-weight: 500;
        }

        p.clientSubs{
            font-size: .6em;
            font-weight: 300;
        }
}