footer#footer {
    background-color: var(--color1);
    padding: 5px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

    div.contactsArea {
        display: flex;
        align-items: center;
        gap: 10px;
    }

        div.contactsArea p{
            font-weight: bold;
        }

        div.container {
            display: flex;
            gap: 5px;

            font-size: .9em;
        }

            a.contact {
                padding: 5px;

                display: flex;
                gap: 5px;

                cursor: pointer;
                user-select: none;
                transition: all 150ms ease-out;
            }

                a.contact:hover {
                    scale: 1.1;
                    text-decoration: underline;
                }

                a.contact:active {
                    scale: .9;
                }
                
    p.creditsArea {
        display: flex;
    }

        a.github {
            margin-left: 10px;

            color: var(--txtColor);
            font-weight: 500;
            text-decoration: none;
            
            user-select: none;
            cursor: pointer;
            transition: all 150ms ease-out;
        }

            a.github::before{
                content: '\F3ED';
                font-family: 'bootstrap-icons';
                
                vertical-align: middle;
                margin-right: 3px;
            }

            a.github:hover {
                scale: 1.1;
                text-decoration: underline;
            }

            a.github:active {
                scale: .9;
            }

@media (max-width: 650px) {
    footer#footer {
        padding: 2px 10px;
        
        gap: 15px;
    }

            div.contactsArea p{
                display: none;
            }

            div.container {
                gap: 3px;

                font-size: .85em;
            }

                a.contact {
                    padding: 4px 5px;

                    display: flex;
                    gap: 5px;
                }
                    
        p.creditsArea {
            display: flex;
            align-items: center;
            
            font-size: .7em;
        }

            a.github {
                margin-left: 5px;
            }
    
}

@media (max-width: 425px) {
    footer#footer {
        position: static;
        bottom: 0;
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
    }
    
        div.contactsArea {
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 10px;
            flex-direction: column;
            gap: 5px;

            border-bottom: 1px solid var(--txtColor);
        }
}