a.container{
    background-color: var(--bgColor2);
    min-width: 0; /* Permite o conteúdo respeite o tamanho do item flex */

    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    overflow: hidden;

    transition: all 200ms ease-out;
}
    a.container:hover{
        background: 
            linear-gradient(
                45deg,
                transparent 0%,
                rgba(255, 255, 255, 0.2) 60%,
                transparent 100%
            ),
            var(--bgColor2);
        
        scale: 1.03;
        animation: shine-background 2.5s ease-out infinite ;
    }
        a.container:hover img.vidThumb{
            opacity: 40%;
        }
        a.container:hover p.overlayText{
            visibility: visible;
            opacity: 1;
            scale: 1.1;
        }
        a.container:hover .vidTitle{
            text-decoration: underline;
        }
            a.container:hover .vidTitle:after{
                content: '\F1C5';
                margin-left: 5px;

                display: inline-block;
                
                font-size: .8em;
                font-family: 'bootstrap-icons';
                text-decoration: none;
            }

    div.cardImg{
        position: relative;
        aspect-ratio: 16/9;
        overflow: hidden;
    }
        div.cardImg::after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
        }
    
        img.vidThumb{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
            img.vidThumb:after{
            }

        div.cardImg p.overlayText{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            visibility: hidden;
            opacity: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            transition: all 150ms ease-out, visibility 0ms;
        }
            div.cardImg p.overlayText i{
                font-size: 4rem;
                color: var(--txtColor);
                opacity: .8;
            }

    div.cardText{
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .vidTitle{
        font-size: 1rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    div.tagsContainer{
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

    }

        p.tag{
            font-size: .8em;
            padding: 3px 7px 2px;
            border-radius: 3px;
            text-wrap: nowrap;
        }

        p.tag.yellow{
            background-color: #a38602;
        }
        p.tag.gray{
            background-color: #6d6769;
        }
        p.tag.green{
            background-color: #0d792e;
        }
        p.tag.purple{
            background: 
                linear-gradient(
                    45deg,
                    transparent 0%,
                    rgba(255, 255, 255, 0.2) 60%,
                    transparent 100%
                ),
                #b82de2;

            font-weight: bold;
            
            animation: shine-background 3s infinite ease;
        }
        p.tag.orange{
            background-color: #cf7e04;
        }
        p.tag.red{
            background-color: #db2231;
        }
        p.tag.blue{
            background-color: #4330ec;
        }
        p.tag.pink{
            background-color: #c4466c;
        }



@media (max-width: 650px){
    a.container{
        border-radius: 5px;
    }

                div.cardImg p.overlayText i{
                    font-size: 3rem;
                }

        div.cardText{
            padding: 10px;

            gap: 7px;
        }

        .vidTitle{
            font-size: .85rem;
        }

        div.tagsContainer{
            gap: 3px;
        }

            p.tag{
                font-size: .65em;
                padding: 3px 5px 2px;
            }

            p.tag.purple{
            font-weight: normal;
        }

}

@media (max-width: 500px){
    a.container{
        border-radius: 5px;
    }

                div.cardImg p.overlayText i{
                    font-size: 3rem;
                }

        div.cardText{
            padding: 10px;

            gap: 7px;
        }

        .vidTitle{
            font-size: .85rem;
        }

        div.tagsContainer{
            gap: 3px;
        }

            p.tag{
                font-size: .65em;
                padding: 3px 5px 2px;
            }

            p.tag.purple{
            font-weight: normal;
        }

}

@keyframes shine-background {
    from{
        background-size: 700% 100%;
        background-position: left;
    }
    to{
        background-size: 700% 100%;
        background-position: right;
    }   
}
