article.aboutContainer {
    margin: 0 70px;
        
    display: grid;
    grid-template-rows: repeat(2 fit-content);
    grid-template-columns: repeat(2 fit-content);
    grid-template-areas: 
        'pic title'
        'pic content';

    animation: slide-fade 2s ease-out forwards;
}

    img.aboutImg {
        margin-right: 40px;
        max-width: 250px;
        height: fit-content;

        grid-area: pic;
    }

    .aboutTitle {
        margin: 10px 0;
        font-family: var(--mainFont);
        font-size: 2em;

        grid-area: title;
    }

    aside.aboutContents {
        grid-area: content;
    }

        p.aboutText {
            margin-bottom: 10px;

            font-weight: 300;
            font-size: 1.1em;
            word-spacing: 3px;
            line-height: 23px;
        }

        div.contactContainer {
            display: flex;
            gap: 10px;
        }

            a.contact {
                background: var(--bgColor2);
                margin-top: 10px;
                padding: 10px 20px;

                border-radius: 50px;

                color: var(--txtColor);
                font-size: 1.05em;
                text-decoration: none;

                display: flex;
                gap: 10px;

                transition: all 200ms ease-out;
            }

                a.contact:hover {
                    background: 
                        linear-gradient(
                            45deg,
                            transparent 0%,
                            rgba(255, 255, 255, 0.3) 60%,
                            transparent 100%
                        ),
                        var(--color1);
                    
                    scale: 1.05;
                    animation: shine-background 1s ease-out infinite;
                }

                a.contact:active {
                    background: var(--bgColor2);

                    scale: .9;
                    animation: none;
                    transition: all 50ms ease-out;
                }

article.projectContainer{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    animation: slide-fade 2s ease-out;
}

    article.projectContainer .projTitle{
        font-family: var(--mainFont);
        font-size: 2em;
    }

    div.projectCarousel{
        background-color: var(--bgColor2);
        width: 100%;
        padding: 20px;

        display: flex;
        gap: 10px;
        
        border-radius: 10px;
    }

    a.portfolioBtn{
        background: var(--color1);
        width: fit-content;
        padding: 15px 50px;
        
        display: inline-block;
        align-self: center;

        color: var(--txtColor);
        font-size: 1.2em;
        font-weight: 500;
        text-decoration: none;

        border-radius: 50px;

        cursor: pointer;
        user-select: none;
        transition: all 200ms ease-out;
    }
        a.portfolioBtn:hover{
            background: 
                linear-gradient(
                    45deg,
                    transparent 0%,
                    rgba(255, 255, 255, 0.3) 60%,
                    transparent 100%
                ),
                var(--color1);

            text-decoration: underline;
            
            scale: 1.05;
            animation: shine-background 1s ease-out infinite;
        }
        a.portfolioBtn:active{
            background: var(--bgColor2);

            text-decoration: none;

            scale: .9;
            animation: none;
        transition: all 100ms ease-out;
        }


        
@keyframes shine-background {
    from{
        background-size: 500% 100%;
        background-position: left;
    }
    to{
        background-size: 500% 100%;
        background-position: right;
    }   
}

@keyframes slide-fade {
    from{
        transform: translateX(20px);
        opacity: 0%;
    }
    to{
        transform: translateX(0px);
        opacity: 100%;
    }
}




@media (max-width:900px){
    article.aboutContainer {
        margin: 0 20px;
    }

    article.projectContainer{
        margin-top: 70px;
    }

        div.projectCarousel{
            flex-direction: column;
            gap: 20px;
        }

}




@media (max-width: 750px) {
    article.aboutContainer {
        grid-template-areas: 
            'title title'
            'pic content';
    }

        img.aboutImg {
            margin-right: 20px;
            max-width: 230px;
            height: fit-content;
        }
        
        .aboutTitle {
            text-align: center;
            margin: 0 0 20px 0;
            font-size: 2.3em;
        }

        aside.aboutContents {
            grid-area: content;
        }

            p.aboutText {
                margin-bottom: 12px;

                font-size: 1em;
                word-spacing: 1px;
                line-height: 20px;
            }

            div.contactContainer {
                gap: 5px;
            }

                a.contact {
                    margin-top: 5px;
                    padding: 7px 15px;

                    font-size: 1em;
                    gap: 5px;
                }

}

@media (max-width: 625px) {
    article.aboutContainer {
        margin: 0;
        grid-template-columns: min-content 1fr;
        grid-template-areas: 
            'pic title'
            'content content';
        gap: 25px 20px;
    }

        img.aboutImg {
            width: 75px;
            height: 75px;
            margin-right: 0px;

            border: 2px solid var(--color1);
            border-radius: 50px;
            
            object-fit: cover;
            object-position: 100% 30%;
        }
        
        .aboutTitle {
            margin: 0;
            
            font-size: 2.3em;
            
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        aside.aboutContents {
            background-color: var(--bgColor2);
            padding: 25px 30px;

            border-radius: 10px;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
        }

            p.aboutText {
                margin-bottom: 20px;

                font-size: 1.05em;
                text-align: left;
                word-spacing: 3px;
                line-height: 23px;
                font-weight: 200;
            }

            div.contactContainer {
                gap: 7px;
            }

                a.contact {
                    background-color: var(--bgColor1);
                    margin-top: 5px;
                    padding: 13px 0px;
                    flex-grow: 1;
                    
                    display: flex;
                    justify-content: center;

                    font-size: 1em;
                    gap: 5px;
                }
}


@media (max-width: 426px) {
    article.aboutContainer {
        grid-template-columns: min-content 1fr;
        grid-template-areas: 
            'pic title'
            'content content';
        gap: 15px;
    }

        img.aboutImg {
            width: 50px;
            height: 50px;
            margin-right: 0px;

            border: 2px solid var(--color1);
            border-radius: 50px;
            
            object-fit: cover;
            object-position: 100% 30%;
        }
        
        .aboutTitle {
            margin: 0;
            
            font-size: 2em;
            
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        aside.aboutContents {
            background-color: var(--bgColor2);
            padding: 20px;

            border-radius: 10px;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
        }

            p.aboutText {
                margin-bottom: 20px;

                font-size: 1em;
                text-align: left;
                word-spacing: 3px;
                line-height: 23px;
                font-weight: 200;
            }

            div.contactContainer {
                flex-direction: column;
                gap: 3px;
            }

                a.contact {
                    background-color: var(--bgColor1);
                    margin-top: 5px;
                    padding: 15px 0px;
                    flex-grow: 1;
                    
                    display: flex;
                    justify-content: center;

                    font-size: 1em;
                    gap: 5px;
                }
                
    article.projectContainer {
        margin-top: 25px;
   }


}