section.clientsArea{
    margin-bottom: 15px;
    padding: 0 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid var(--bgColor2);
}

    .clientsPresentation{
        font-size: 1.2em;
    }

    div.clientsContainer{
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
    }

section.vidsArea{

}

    header.vidsController{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        div.vidsFilter{

        }
            div.vidsFilter label{
                font-size: 1.2em;
            }
            div.vidsFilter select{
                background-color: var(--bgColor2);
                margin: 0 5px;
                padding: 5px 10px;

                color: var(--txtColor);
                font-size: 1.15em;

                border: 0;
                border-radius: 5px;

                cursor: pointer;
                transition: 100ms ease-out;
            }
                div.vidsFilter select:hover{
                    scale: 1.02;
                }
                div.vidsFilter select:focus{
                    scale: 1.01;
                    outline: 1px solid var(--color1);
                }
                div.vidsFilter select option:checked{
                    font-weight: bold;
                    background-color: var(--color1);
                }
        
        a.homepageBtn{
            font-size: 1em;
            cursor: pointer;
            transition: all 100ms ;
        }
            a.homepageBtn:hover{
                scale: 1.02;
                text-decoration: underline;
            }
            a.homepageBtn i{
                margin-right: 5px;
            }

main.vidsContainer{
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}


@media (max-width: 950px){
    section.clientsArea{
        padding: 0 10px;
        padding-bottom: 15px;
    }

        div.clientsContainer{
            gap: 5px;
            margin-top: 15px;
        }

}

@media (max-width: 650px){
    section.clientsArea{
        margin-bottom: 10px;
        padding: 0px;
        padding-bottom: 10px;
    }

        .clientsPresentation{
            font-size: 1.1em;
        }

        div.clientsContainer{
            gap: 3px;
            margin-top: 10px;
        }
    
        div.vidsFilter label{
            font-size: 1em;
        }
        div.vidsFilter select{
            font-size: .9em;
        }
        
    main.vidsContainer{
        margin-top: 20px;

        gap: 15px;
    }
}

@media (max-width: 500px){
    .clientsPresentation{
        font-size: .9em;
    }

        div.vidsFilter label{
            font-size: .9em;
        }
        div.vidsFilter select{
            padding: 3px 5px;
            font-size: .8em;
            border-radius: 3px;
        }

    main.vidsContainer{
        margin-top: 15px;

        gap: 10px;
    }
}

@media (max-width: 460px){
    main.vidsContainer{
        padding: 0 25px;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
}